

<%@folder.photos.each do |photo|%>

    <%=  image_tag photo , style: "max-width: 100%; max-height: 200px"%>

    <%= button_to 'Delete',delete_photo_attachment_folder_path(photo.blob.id), 
                            method: :delete
                            %>
<%end%>
<br><br><br>

<%= link_to "Back", root_path, class: "btn btn-outline-secondary" %><br>
</form>
