
<div class =container>
<% if current_user %>
    <h1 class="text-primary">Hello Rails</h1><br><br>
    <h4 class="text-primary">Welcome!!  <%= current_user.email %></h4>
    
    
  
<% else %>
 
<% end %>
<br>



